# `DataFrame` Example

In this lecture I'm going to walk through a basic data cleaning process with you and introduce you to a few more pandas API functions.

In [25]:
# Let's start by bringing in pandas
import pandas as pd
# And load our dataset. We're going to be cleaning the list of presidents in the US from wikipedia
df=pd.read_csv("datasets/presidents.csv")
# And lets just take a look at some of the data
df.head()

,#,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days"
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days"
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days"
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days"
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days"

In [37]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,41,42,43
#,1,2,3,4,5,6,7,8,9,10,...,35,36,37,38,39,40,41,42,43,44
President,George Washington,John Adams,Thomas Jefferson,James Madison,James Monroe,John Quincy Adams,Andrew Jackson,Martin Van Buren,William H. Harrison,John Tyler,...,John F. Kennedy,Lyndon B. Johnson,Richard Nixon,Gerald Ford,Jimmy Carter,Ronald Reagan,George H. W. Bush,Bill Clinton,George W. Bush,Barack Obama
Born,1732-02-22 00:00:00,1735-10-30 00:00:00,1743-04-13 00:00:00,1751-03-16 00:00:00,1758-04-28 00:00:00,1767-07-11 00:00:00,1767-03-15 00:00:00,1782-12-05 00:00:00,1773-02-09 00:00:00,1790-03-29 00:00:00,...,1917-05-29 00:00:00,1908-08-27 00:00:00,1913-01-09 00:00:00,1913-07-14 00:00:00,1924-10-01 00:00:00,1911-02-06 00:00:00,1924-06-12 00:00:00,1946-08-19 00:00:00,1946-07-06 00:00:00,1961-08-04 00:00:00
Age atstart of presidency,"57 years, 67 daysApr 30, 1789","61 years, 125 daysMar 4, 1797","57 years, 325 daysMar 4, 1801","57 years, 353 daysMar 4, 1809","58 years, 310 daysMar 4, 1817","57 years, 236 daysMar 4, 1825","61 years, 354 daysMar 4, 1829","54 years, 89 daysMar 4, 1837","68 years, 23 daysMar 4, 1841","51 years, 6 daysApr 4, 1841",...,"43 years, 236 daysJan 20, 1961","55 years, 87 daysNov 22, 1963","56 years, 11 daysJan 20, 1969","61 years, 26 daysAug 9, 1974","52 years, 111 daysJan 20, 1977","69 years, 349 daysJan 20, 1981","64 years, 222 daysJan 20, 1989","46 years, 154 daysJan 20, 1993","54 years, 198 daysJan 20, 2001","47 years, 169 daysJan 20, 2009"
Age atend of presidency,"65 years, 10 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","61 years, 236 daysMar 4, 1829","69 years, 354 daysMar 4, 1837","58 years, 89 daysMar 4, 1841","68 years, 54 days Apr 4, 1841[b]","54 years, 340 daysMar 4, 1845",...,"46 years, 177 daysNov 22, 1963[b]","60 years, 146 daysJan 20, 1969","61 years, 212 daysAug 9, 1974[e]","63 years, 190 daysJan 20, 1977","56 years, 111 daysJan 20, 1981","77 years, 349 daysJan 20, 1989","68 years, 222 daysJan 20, 1993","54 years, 154 daysJan 20, 2001","62 years, 198 daysJan 20, 2009","55 years, 169 daysJan 20, 2017"
Post-presidencytimespan,"2 years, 285 days","25 years, 122 days","17 years, 122 days","19 years, 116 days","6 years, 122 days","18 years, 356 days","8 years, 96 days","21 years, 142 days",NaN,"16 years, 320 days",...,NaN,"4 years, 2 days","19 years, 256 days","29 years, 340 days","38 years, 175 days","15 years, 137 days","25 years, 314 days","18 years, 175 days","10 years, 175 days","2 years, 175 days"
Died,"Dec 14, 1799","Jul 4, 1826","Jul 4, 1826","Jun 28, 1836","Jul 4, 1831","Feb 23, 1848","Jun 8, 1845","Jul 24, 1862","Apr 4, 1841","Jan 18, 1862",...,"Nov 22, 1963","Jan 22, 1973","Apr 22, 1994","Dec 26, 2006",(living),"Jun 5, 2004","Nov 30, 2018",(living),(living),(living)
Age,"67 years, 295 days","90 years, 247 days","83 years, 82 days","85 years, 104 days","73 years, 67 days","80 years, 227 days","78 years, 85 days","79 years, 231 days","68 years, 54 days","71 years, 295 days",...,"46 years, 177 days","64 years, 148 days","81 years, 103 days","93 years, 165 days","94 years, 286 days","93 years, 120 days","94 years, 171 days","72 years, 329 days","73 years, 8 days","57 years, 344 days"
First,George,John,Thomas,James,James,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Last,Washington,Adams,Jefferson,Madison,Monroe,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
# Ok, we have some presidents, some dates, I see a bunch of footnotes in the "Born" column which might cause
# issues. Let's start with cleaning up that name into firstname and lastname. I'm going to tackle this with
# a regex. So I want to create two new columns and apply a regex to the projection of the "President" column.

# Here's one solution, we could make a copy of the President column
df["First"]=df['President']
# Then we can call replace() and just have a pattern that matches the last name and set it to an empty string
df["First"]=df["First"].replace(r"[ ].*", "", regex=True)
# Now let's take a look
df.head()

,#,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age,First
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James

In [27]:
# That works, but it's kind of gross. And it's slow, since we had to make a full copy of a column then go
# through and update strings. There are a few other ways we can deal with this. Let me show you the most 
# general one first, and that's called the apply() function. Let's drop the column we made first
del(df["First"])

# The apply() function on a dataframe will take some arbitrary function you have written and apply it to
# either a Series (a single column) or DataFrame across all rows or columns. Lets write a function which
# just splits a string into two pieces using a single row of data
def splitname(row):
    # The row is a single Series object which is a single row indexed by column values
    # Let's extract the firstname and create a new entry in the series
    row['First']=row['President'].split(" ")[0]
    # Let's do the same with the last word in the string
    row['Last']=row['President'].split(" ")[-1]
    # Now we just return the row and the pandas .apply() will take of merging them back into a DataFrame
    return row

# Now if we apply this to the dataframe indicating we want to apply it across columns
df=df.apply(splitname, axis='columns')
df.head()

,#,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age,First,Last
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George,Washington
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John,Adams
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas,Jefferson
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James,Madison
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James,Monroe

In [28]:
# Pretty questionable as to whether that is less gross, but it achieves the result and I find that I use the
# apply() function regularly in my work. The pandas series has a couple of other nice convenience functions
# though, and the next I would like to touch on is called .extract(). Lets drop our firstname and lastname.
# print(df.head())
del df['First']
del df['Last']

# Extract takes a regular expression as input and specifically requires you to set capture groups that
# correspond to the output columns you are interested in. And, this is a great place for you to pause the
# video and reflect - if you were going to write a regular expression that returned groups and just had the
# firstname and lastname in it, what would that look like?

# Here's my solution, where we match three groups but only return two, the first and the last name
pattern=r"(^[\w]*)(?:.* )([\w]*$)"

# Now the extract function is built into the str attribute of the Series object, so we can call it
# using Series.str.extract(pattern)
df["President"].str.extract(pattern).head()

   #          President             Born      Age atstart of presidency  \
0  1  George Washington  Feb 22, 1732[a]  57 years, 67 daysApr 30, 1789
1  2         John Adams  Oct 30, 1735[a]  61 years, 125 daysMar 4, 1797
2  3   Thomas Jefferson  Apr 13, 1743[a]  57 years, 325 daysMar 4, 1801
3  4      James Madison  Mar 16, 1751[a]  57 years, 353 daysMar 4, 1809
4  5       James Monroe     Apr 28, 1758  58 years, 310 daysMar 4, 1817

         Age atend of presidency Post-presidencytimespan          Died  \
0   65 years, 10 daysMar 4, 1797       2 years, 285 days  Dec 14, 1799
1  65 years, 125 daysMar 4, 1801      25 years, 122 days   Jul 4, 1826
2  65 years, 325 daysMar 4, 1809      17 years, 122 days   Jul 4, 1826
3  65 years, 353 daysMar 4, 1817      19 years, 116 days  Jun 28, 1836
4  66 years, 310 daysMar 4, 1825       6 years, 122 days   Jul 4, 1831

                  Age   First        Last
0  67 years, 295 days  George  Washington
1  90 years, 247 days    John       Adams
2   83 years, 82 days  Thomas   Jefferson
3  85 years, 104 days   James     Madison
4   73 years, 67 days   James      Monroe

        0           1
0  George  Washington
1    John       Adams
2  Thomas   Jefferson
3   James     Madison
4   James      Monroe

In [30]:
# So that looks pretty nice, other than the column names. But if we name the groups we get named columns out
pattern=r"(?P<First>^[\w]*)(?:.* )(?P<Last>[\w]*$)"

# Now call extract
names=df["President"].str.extract(pattern).head()
names

    First        Last
0  George  Washington
1    John       Adams
2  Thomas   Jefferson
3   James     Madison
4   James      Monroe

In [31]:
# And we can just copy these into our main dataframe if we want to
df["First"]=names["First"]
df["Last"]=names["Last"]
df.head()

,#,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age,First,Last
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George,Washington
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John,Adams
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas,Jefferson
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James,Madison
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James,Monroe

In [ ]:
# It's worth looking at the pandas str module for other functions which have been written specifically
# to clean up strings in DataFrames, and you can find that in the docs in the Working with Text
# section: https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html

In [32]:
# Now lets move on to clean up that Born column. First, let's get rid of anything that isn't in the
# pattern of Month Day and Year.
df["Born"]=df["Born"].str.extract(r"([\w]{3} [\w]{1,2}, [\w]{4})")
df["Born"].head()

0    Feb 22, 1732
1    Oct 30, 1735
2    Apr 13, 1743
3    Mar 16, 1751
4    Apr 28, 1758
Name: Born, dtype: object

In [33]:
# So, that cleans up the date format. But I'm going to foreshadow something else here - the type of this
# column is object, and we know that's what pandas uses when it is dealing with string. But pandas actually
# has really interesting date/time features - in fact, that's one of the reasons Wes McKinney put his efforts
# into the library, to deal with financial transactions. So if I were building this out, I would actually
# update this column to the write data type as well
df["Born"]=pd.to_datetime(df["Born"])
df["Born"].head()

0   1732-02-22
1   1735-10-30
2   1743-04-13
3   1751-03-16
4   1758-04-28
Name: Born, dtype: datetime64[ns]

In [ ]:
# This would make subsequent processing on the dataframe around dates, such as getting every President who
# was born in a given time span, much easier.

Now, most of the other columns in this dataset I would clean in a similar fashion. And this would be a good practice activity for you, so I would recommend that you pause the video, open up the notebook for the lecture if you don't already have it opened, and then finish cleaning up this dataframe. In this lecture I introduced you to the str module which has a number of important functions for cleaning pandas dataframes. You don't have to use these - I actually use apply() quite a bit myself, especially if I don't need high performance data cleaning because my dataset is small. But the str functions are incredibly useful and build on your existing knowledge of regular expressions, and because they are vectorized they are efficient to use as well.