In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('artwork_data.csv')
data.head()

C:\Users\namis\AppData\Local\Temp\ipykernel_12648\964667028.py:1: DtypeWarning: Columns (9,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('artwork_data.csv')

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922.0,support: 394 x 419 mm,394,419.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 311 x 213 mm,311,213.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785.0,1922.0,support: 343 x 467 mm,343,467.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 318 x 394 mm,318,394.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919.0,image: 243 x 335 mm,243,335.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69201 entries, 0 to 69200
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  69201 non-null  int64
 1   accession_number    69201 non-null  object
 2   artist              69201 non-null  object
 3   artistRole          69201 non-null  object
 4   artistId            69201 non-null  int64
 5   title               69201 non-null  object
 6   dateText            69201 non-null  object
 7   medium              62817 non-null  object
 8   creditLine          69198 non-null  object
 9   year                63823 non-null  object
 10  acquisitionYear     69156 non-null  float64
 11  dimensions          66768 non-null  object
 12  width               65860 non-null  object
 13  height              65860 non-null  object
 14  depth               2514 non-null   float64
 15  units               65860 non-null  object
 16  inscription         6306 non-null   object
 17  thumbnailCopyright  14239 non-null  object
 18  thumbnailUrl        58415 non-null  object
 19  url                 69201 non-null  object
dtypes: float64(2), int64(2), object(16)
memory usage: 10.6+ MB

In [5]:
data.dtypes

id                      int64
accession_number       object
artist                 object
artistRole             object
artistId                int64
title                  object
dateText               object
medium                 object
creditLine             object
year                   object
acquisitionYear       float64
dimensions             object
width                  object
height                 object
depth                 float64
units                  object
inscription            object
thumbnailCopyright     object
thumbnailUrl           object
url                    object
dtype: object

In [6]:
data.acquisitionYear

0        1922.0
1        1922.0
2        1922.0
3        1922.0
4        1919.0
          ...
69196    2013.0
69197    2013.0
69198    2013.0
69199    2013.0
69200    2013.0
Name: acquisitionYear, Length: 69201, dtype: float64

In [7]:
data.acquisitionYear.astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [9]:
full_df = pd.read_csv('artwork_data.csv', low_memory=False)

In [10]:
full_df.dtypes

id                      int64
accession_number       object
artist                 object
artistRole             object
artistId                int64
title                  object
dateText               object
medium                 object
creditLine             object
year                   object
acquisitionYear       float64
dimensions             object
width                  object
height                 object
depth                 float64
units                  object
inscription            object
thumbnailCopyright     object
thumbnailUrl           object
url                    object
dtype: object

In [11]:
full_df.height.astype('float')

ValueError: could not convert string to float: 'mm'

In [16]:
pd.to_numeric(full_df.height,errors='coerce')

0         419.0
1         213.0
2         467.0
3         394.0
4         335.0
          ...
69196     305.0
69197     305.0
69198    2410.0
69199       NaN
69200     660.0
Name: height, Length: 69201, dtype: float64

In [17]:
full_df.height = pd.to_numeric(full_df.height,errors='coerce')

:

In [4]:
tup = (1,2,3)
tup2 = tup 
tup2 = tup2 + (4,5)
print(tup2)
tup2[3] =10

(1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment