## Sample Map  example Lazy Loading

In [1]:
class Trace:                                    
    def __init__(self):                         
        self.enabled = True                     
    def __call__(self, f):                      
        def wrap(*args, **kwargs):              
            if self.enabled:                    
                print('Calling {}'.format(f))   
            return f(*args, **kwargs)           
        return wrap

In [2]:
result = map(Trace()(ord), 'The quick brown fox')
result

In [3]:
next(result)

Calling <built-in function ord>

84

In [4]:
next(result)

Calling <built-in function ord>

104

In [5]:
next(result)

Calling <built-in function ord>

101

In [6]:
list(map(ord, 'The quick brown fox'))

[84,
 104,
 101,
 32,
 113,
 117,
 105,
 99,
 107,
 32,
 98,
 114,
 111,
 119,
 110,
 32,
 102,
 111,
 120]

## Map with multiple array inputs

In [14]:
sizes = ['small','medium','large']
colors = ['lavender', 'teal', 'burnt orange']      
animals = ['koala', 'platypus', 'salamander']      
def combine(size, color, animal):                  
    return '{} {} {}'.format(size, color, animal)

In [15]:
list(map(combine, sizes, colors, animals))

['small lavender koala',
 'medium teal platypus',
 'large burnt orange salamander']

In [16]:
def combine(quantity, size, color, animal):                      
    return '{} x {} {} {}'.format(quantity, size, color, animal) 
                                                                 
import itertools                                                 
list(map(combine, itertools.count(), sizes, colors, animals))

['0 x small lavender koala',
 '1 x medium teal platypus',
 '2 x large burnt orange salamander']

## Filter Function or function-tool

In [18]:
positives = filter(lambda x: x > 0, [1, -5, 0, 6, -2, 8])  
positives

In [19]:
list(positives)

[1, 6, 8]

In [21]:
trues=filter(None,[1, False, True,[], [1, 2, 3],'', 'hello']) 
list(trues)

[1, True, [1, 2, 3], 'hello']

In [22]:
## Reduce function

In [25]:
from functools import reduce
import operator                                                   
reduce(operator.add, [1, 2, 3, 4, 5])

15

In [26]:
numbers = [1, 2, 3, 4, 5]                                         
accumulator = operator.add(numbers[0], numbers[1])                
for item in numbers[2:]:                                          
    accumulator = operator.add(accumulator, item)                 
                                                                  
accumulator

15

In [27]:
def mul(x, y):                      
    print('mul {} {}'.format(x, y)) 
    return x * y                    
                                    
reduce(mul, range(1, 10))

mul 1 2
mul 2 3
mul 6 4
mul 24 5
mul 120 6
mul 720 7
mul 5040 8
mul 40320 9

362880

In [28]:
reduce(mul, [])

TypeError: reduce() of empty sequence with no initial value

In [29]:
reduce(mul, [1])

1

In [33]:
values = [1, 2, 3]                          
reduce(operator.add, values, 0)

6

In [31]:
values = []                                 
reduce(operator.add, values, 0)

0

In [32]:
values = [1, 2, 3]                          
reduce(operator.add, values, 0)

6

In [34]:
values = [1, 2, 3]                          
reduce(operator.mul, values, 1)

6

In [35]:
def count_words(doc):                                                       
    normalised_doc = ''.join(c.lower() if c.isalpha() else ' ' for c in doc)
    frequencies = {}                                                        
    for word in normalised_doc.split():                                     
        frequencies[word] = frequencies.get(word, 0) + 1                    
    return frequencies

In [36]:
count_words('It was the best of times, it was the worst of times.')

{'it': 2, 'was': 2, 'the': 2, 'best': 1, 'of': 2, 'times': 2, 'worst': 1}

In [46]:
documents = [                                                               
    'It was the best of times, it was the worst of times.',                 
    'I went to the woods because I wished to live deliberately, to front only the essential facts of life...',                                              
    'Friends, Romans, countrymen, lend me your ears; I come to bury Caesar,to praise him.',                                                            
    'I do not like green eggs and ham. I do not like them, Sam-I-Am.',      
]

In [50]:
counts = map(count_words, documents)  # lazy calculation
#counts_data=list(map(count_words, documents))
#print(counts_data)

In [39]:
def combine_counts(d1, d2):              
    d = d1.copy()                        
    for word, count in d2.items():       
        d[word] = d.get(word, 0) + count 
    return d

In [40]:
total_counts = reduce(combine_counts, counts)  
total_counts

{'it': 2,
 'was': 2,
 'the': 4,
 'best': 1,
 'of': 3,
 'times': 2,
 'worst': 1,
 'i': 6,
 'went': 1,
 'to': 5,
 'woods': 1,
 'because': 1,
 'wished': 1,
 'live': 1,
 'deliberately': 1,
 'front': 1,
 'only': 1,
 'essential': 1,
 'facts': 1,
 'life': 1,
 'friends': 1,
 'romans': 1,
 'countrymen': 1,
 'lend': 1,
 'me': 1,
 'your': 1,
 'ears': 1,
 'come': 1,
 'bury': 1,
 'caesar': 1,
 'praise': 1,
 'him': 1,
 'do': 2,
 'not': 2,
 'like': 2,
 'green': 1,
 'eggs': 1,
 'and': 1,
 'ham': 1,
 'them': 1,
 'sam': 1,
 'am': 1}