In [1]:
classic_cars = ["Pierce Arrow", "Oldsmobile", "Mustang"]

In [6]:
for car in classic_cars:
    print(car)

Pierce Arrow
Oldsmobile
Mustang

In [7]:
car

'Mustang'

In [8]:
sports_cars = ["Agera", "Regera", "Chiron", "Veyron"]

In [9]:
for car in sports_cars:
    print(car)

Agera
Regera
Chiron
Veyron

In [10]:
car

'Veyron'

In [11]:
for character in ["P", "h", "a", "n", "t", "o", "m"]:
    print(character)

P
h
a
n
t
o
m

In [12]:
for character in "Phantom":
    print(character)

P
h
a
n
t
o
m

In [13]:
for integer in 56565936:
    print(integer)

TypeError: 'int' object is not iterable

In [14]:
for car in "Porsche", "Lambhorghini", "Ford", "Ferrari", "General Motors":
    print(car)

Porsche
Lambhorghini
Ford
Ferrari
General Motors

In [15]:
cameras = ("Canon EOS 500D",
           "Nikon D90",
           "Canon EOS 50D",
           "Canon EOS 450D")

In [16]:
for camera in cameras:
    print(camera)

Canon EOS 500D
Nikon D90
Canon EOS 50D
Canon EOS 450D

In [19]:
num_list = [100, 800, 330, 220, 400, 900, 1100]

In [21]:
for num in num_list:
    if num < 500:
        print("<500:", num)
    else:
        print(">=500:", num)

<500: 100
>=500: 800
<500: 330
<500: 220
<500: 400
>=500: 900
>=500: 1100

In [23]:
r = range(10)

r

range(0, 10)

In [24]:
tuple(r)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [25]:
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
list(range(2, 10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
list(range(-4, 8))

[-4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7]

In [28]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [29]:
for i in range(2, 8):
    print(i)

2
3
4
5
6
7

In [30]:
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

In [33]:
for i in range(2, 11, 3):
    print(i)

2
5
8

In [31]:
for i in range(3.141):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [32]:
for _ in range(7):
    print("Python is great")

Python is great
Python is great
Python is great
Python is great
Python is great
Python is great
Python is great

In [35]:
names_and_ages = {"John" : 53,
                  "Alice" : 57,
                  "Bill" : 14,
                  "Dave" : 25}

In [37]:
for key in names_and_ages:
    print(key)

John
Alice
Bill
Dave

In [39]:
for key in names_and_ages:
    print("Name: ", key, "Age: ", names_and_ages[key])

Name:  John Age:  53
Name:  Alice Age:  57
Name:  Bill Age:  14
Name:  Dave Age:  25

In [41]:
names_and_ages.keys()

dict_keys(['John', 'Alice', 'Bill', 'Dave'])

In [40]:
for key in names_and_ages.keys():
    print(key)

John
Alice
Bill
Dave

In [43]:
names_and_ages.values()

dict_values([53, 57, 14, 25])

In [42]:
for val in names_and_ages.values():
    print(val)

53
57
14
25

In [44]:
names_and_ages.items()

dict_items([('John', 53), ('Alice', 57), ('Bill', 14), ('Dave', 25)])

In [45]:
for key, val in names_and_ages.items():
    print(key, val)

John 53
Alice 57
Bill 14
Dave 25

In [46]:
materials = {"Leather", "Polyester", "Nylon", "Cotton", "Silk"}

In [47]:
for m in materials:
    print(m)
else:
    print("We've run out of material")

Silk
Cotton
Polyester
Nylon
Leather
We've run out of material

In [48]:
num = 2

for multiplier in range(1, 11):
    print(num , " * ", multiplier, " = ", num * multiplier)

2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20

In [49]:
mixed_list = [5544,
              "Hello",
              3j,
              ["Hello","Python","World"],
              {545, 4542}]

In [50]:
for i in mixed_list:
    print("This is a mixed list,so we can expect multiple datatypes, one of them is : ",type(i))

This is a mixed list,so we can expect multiple datatypes, one of them is :  <class 'int'>
This is a mixed list,so we can expect multiple datatypes, one of them is :  <class 'str'>
This is a mixed list,so we can expect multiple datatypes, one of them is :  <class 'complex'>
This is a mixed list,so we can expect multiple datatypes, one of them is :  <class 'list'>
This is a mixed list,so we can expect multiple datatypes, one of them is :  <class 'set'>

In [51]:
materials

{'Cotton', 'Leather', 'Nylon', 'Polyester', 'Silk'}

In [54]:
colors = ["Red", "Yellow", "Blue"]

In [58]:
for c in colors:

    for m in materials:
    
        print(c, "<-->", m)

Red <--> Silk
Red <--> Cotton
Red <--> Polyester
Red <--> Nylon
Red <--> Leather
Yellow <--> Silk
Yellow <--> Cotton
Yellow <--> Polyester
Yellow <--> Nylon
Yellow <--> Leather
Blue <--> Silk
Blue <--> Cotton
Blue <--> Polyester
Blue <--> Nylon
Blue <--> Leather

In [59]:
for i in reversed("python"):
    print(i)

n
o
h
t
y
p