# Predicting Diabetes

## Import Libraries

In [1]:
import pandas as pd # pandas is a Data Frame Library
import matplotlib.pyplot as plt # matplot.pyplot is for plotting data
import numpy as np # numpy provides N dimentional support 

# do plotting inline instead of seperate window
%matplotlib inline

## Load and review data

In [2]:
# Load pima data and point the location of data as suitable. df.shape()
# by default this function assumes first column is header
df=pd.read_csv("./data/pima-data.csv")

In [3]:
df.shape # Toal number of rows and columns

(768, 10)

In [6]:
df.head(5) # display fist 5 columns

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
0,6,148,72,35,0,33.6,0.627,50,1.3790,True
1,1,85,66,29,0,26.6,0.351,31,1.1426,False
2,8,183,64,0,0,23.3,0.672,32,0.0000,True
3,1,89,66,23,94,28.1,0.167,21,0.9062,False
4,0,137,40,35,168,43.1,2.288,33,1.3790,True

In [5]:
df.tail(5) # display last 5 columns

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
763,10,101,76,48,180,32.9,0.171,63,1.8912,False
764,2,122,70,27,0,36.8,0.340,27,1.0638,False
765,5,121,72,23,112,26.2,0.245,30,0.9062,False
766,1,126,60,0,0,30.1,0.349,47,0.0000,True
767,1,93,70,31,0,30.4,0.315,23,1.2214,False

### Definition of features

From the metadata on the data source we have following definition of the features.