In [1]:
universities_set = {"Stanford",
                    "Harvard",
                    "Columbia",
                    "MIT",
                    "Yale",
                    "Cornell",
                    "Stanford",
                    "MIT"}

In [2]:
print(universities_set)

{'Cornell', 'Columbia', 'Stanford', 'Yale', 'MIT', 'Harvard'}

In [3]:
empty_set = set()

In [4]:
empty_set

set()

In [5]:
type(universities_set)

set

In [6]:
mixed_set = {"Hello World", 3, 6.7804, False}

mixed_set

{3, 6.7804, False, 'Hello World'}

In [7]:
universities_set[3]

TypeError: 'set' object does not support indexing

In [8]:
universities_set.add("Princeton")

universities_set

{'Columbia', 'Cornell', 'Harvard', 'MIT', 'Princeton', 'Stanford', 'Yale'}

In [9]:
universities_set.discard("Cornell")

universities_set

{'Columbia', 'Harvard', 'MIT', 'Princeton', 'Stanford', 'Yale'}

In [12]:
universities_set.discard("Cornell")

universities_set

{'Columbia', 'Harvard', 'MIT', 'Stanford', 'Yale'}

In [11]:
universities_set.remove("Princeton")

universities_set

{'Columbia', 'Harvard', 'MIT', 'Stanford', 'Yale'}

In [13]:
universities_set.remove("Princeton")

universities_set

KeyError: 'Princeton'

In [21]:
another_set = {"Brown", "Georgetown", "Stanford", "MIT"}

In [22]:
universities_set.union(another_set)

{'Brown', 'Columbia', 'Georgetown', 'Harvard', 'MIT', 'Stanford', 'Yale'}

In [23]:
universities_set.intersection(another_set)

{'MIT', 'Stanford'}

In [24]:
universities_set.difference(another_set)

{'Columbia', 'Harvard', 'Yale'}